body{
    background-color: lightgrey;
}

/*.inputFix{
    display: inline-block;
}
#moviesPerPage{
    left:150px;
}

#header{
    left: 30%;
}*/
/*.header{
    background-color: darkred;
}

#tBody {
    border: 1px, solid, black;
    background-color: grey;
}**/

